		<div style="width: 70%; margin: auto">
			<div class="RobotoRegular">
				<ol class="breadcrumb">
					<li><a href="#/">Home</a></li>
  					<li><a href="#/books">Books</a></li>
  					<li class="active">{{title}}</li>
				</ol>
			</div>

			<div style="float: left;">

				<img id="myImg" style="height: 50%" ng-src="http://assets.celinemarcelo.com/projectbookworm/covers/{{bookId}}.jpg" class="img-responsive logo" ng-click="open()"/>
			</div>

			<div>
				<h2 style="text-align: center;font-weight: bold" class="RobotoThin">{{title}}</h2>
				<div class="RobotoRegular" style="text-align: center;">
					Author: {{authorName}} |
					Category: {{categoryName}} |
					Language: {{language}}
				</div>

				<div style="text-align: right">
					<button class="btn btn-warning btn-lg RobotoRegular">
						<small><span class="glyphicon" ng-class="{'glyphicon-star': inFavorites === 'Unfavorite', 'glyphicon-star-empty': inFavorites === 'Favorite'}" aria-hidden="true"></span></small>{{inFavorites}}
					</button>
				</div>
			</div>

			
		</div>


