
		<div style="width: 70%; margin: auto;"> 
			<h1 align="center" class="RobotoBlack"> My Favorites </h1>
		

			<br>

			<div>

				<div ng-show="showSpinner" align="center" class="spinner">
					<img src="http://assets.celinemarcelo.com/projectbookworm/ajax-loader.gif">
				</div>

				<div class="table-responsive RobotoRegular" ng-hide="showSpinner" ng-cloak>
					<table class="table table-striped">
						<div style="text-align: center">
							<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"  num-pages="numPages" items-per-page="7" ng-change="pageChanged(currentPage)"></uib-pagination>
						</div>
			  			<thead>
			  				<th>Title</th>
			  				<th>Author</th>
			  				<th>Category</th>
			  			</thead>

			  			<tr ng-repeat="x in books | orderBy: 'title'" class="well">

			    			<td style="vertical-align: middle">
			    				<a ng-href="#/books/{{x.bookId}}">
			    					<img style="height: 40%;" class="logo" ng-src="http://assets.celinemarcelo.com/projectbookworm/covers/{{x.bookId}}.jpg" />
			    				</a>
			    			<a ng-href="#/books/{{x.bookId}}" style="font-weight: bold">{{x.title}}</a></td>
			    			<td style="vertical-align: middle" get-author></td>
			    			<td style="vertical-align: middle" get-category></td>
			  			</tr>
					</table>
					<div style="text-align: center">
						<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"  num-pages="numPages" items-per-page="7" ng-change="pageChanged(currentPage)"></uib-pagination>
					</div>
				</div>

			</div>

		</div>

		