		<div style="margin: auto; width: 70%">	
			<h1 align="center" class="RobotoBlack"> This is (supposed to be) the login page. </h1>

			<div class="well RobotoRegular">
				<div style="text-align: center">
					<button type="button" class="btn btn-success btn-lg RobotoRegular" ng-click="newUserTrigger = !newUserTrigger; loginTrigger = 0" style="text-align: center">
						<small><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></small>
						New User
					</button>
					<button type="button" class="btn btn-info btn-lg RobotoRegular" ng-click="newUserTrigger = 0; loginTrigger = !loginTrigger">
						<small><span class="glyphicon glyphicon-user" aria-hidden="true"></span></small>
						Login
					</button>
				</div>

				
				<div id="newUser" class="RobotoRegular well" ng-show="newUserTrigger" style="width: 50%; margin: auto; margin-top: 20px;">

					<div>
						<div class="overlay" ng-show="showNewSpinner">
							<div ng-show="showNewSpinner" align="center" class="spinner RobotoBlack">
								<span style="color: white; font-size: 200%">Making your account...</span><br>

								<img src="http://assets.celinemarcelo.com/projectbookworm/ajax-loader.gif">
							</div>

						</div>
						<div>
							<div>
								<h4>Make an account</h4>
							</div>
							<div>

								<form name="newUser" novalidate>
									<div class="form-group">
										<label for="username">Username<span style="color: red">*</span></label>
										<input type="text" class="form-control" name="newUsername" ng-model="newUsername" required>

										<br>

										<label for="password">Password<span style="color: red">*</span></label>
										<input type="password" class="form-control" name="newPassword" ng-model="newPassword" required>

										<br>

										<label for="confPassword">Confirm password<span style="color: red">*</span></label>
										<input type="password" class="form-control" name="confPassword" ng-model="confPassword" required>

										<br>

										<div ng-show="noMatch" class="alert alert-danger">
											<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
											Passwords don't match!
										</div>

										<div ng-show="newExists" class="alert alert-warning">
											<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
											Username is already taken. Please choose another one.
										</div>

										<div ng-show="newFail" class="alert alert-danger">
											<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
											There has been a problem with the server.
										</div>
									</div>


								</form>

								
							</div>
							<div style="margin-top: 20%; text-align: right">
								<em><span style="float: left; color: red;">*required</span></em>

								<button type="submit" class="btn btn-info" ng-click="submit()" ng-disabled="newUser.newUsername.$invalid || newUser.newPassword.$invalid || newUser.confPassword.$invalid">Submit</button>
							</div>
						</div>
					</div>
				</div>




				<div id="login" class="RobotoRegular well" ng-show="loginTrigger" style="width: 50%; margin: auto; margin-top: 20px;">
					<div>
						<!-- Modal content-->
						<div class="overlay" ng-show="showSpinner">
							<div ng-show="showSpinner" align="center" class="spinner">
								<span style="color: white; font-size: 200%">Logging in...</span><br>

								<img src="http://assets.celinemarcelo.com/projectbookworm/ajax-loader.gif">
							</div>

						</div>
						<div>
							<div>
								<h4>Login</h4>
							</div>
							<div>

								<form name="login" novalidate>
									<div class="form-group">
										<label for="username">Username</label>
										<input type="text" class="form-control" name="username" ng-model="username" required>

										<br>

										<label for="password">Password</label>
										<input type="password" class="form-control" name="password" ng-model="password" required>

										<br>

										<div ng-show="wrong" class="alert alert-danger">
											<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
											Wrong username/password combination!
										</div>
									</div>


								</form>

								
							</div>
							<div style="margin-top: 20%; text-align: right">

								<button type="submit" class="btn btn-info" ng-click="loginFunc()" ng-disabled="login.username.$invalid || login.password.$invalid">Login</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		
		
		