		<nav class="navbar navbar-default navbar-fixed-top">
	        <div class="container-fluid">
	            <div>
	                <ul class="nav navbar-nav">
	                    <li>
	                        <a href="/#/" ng-style="change()" ng-controller="welcomeNav">WELCOME</a>
	                    </li>
	                    <li>
	                        <a href="/books" ng-style="change()" ng-controller="booksNav">BOOKS</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </nav>