.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1500;
}

.spinner {
	margin-top: 230px;
}

#imgModal {
  background: none;
}

body {
	padding-top: 70px;
}

@font-face {
    font-family: Bebas;
    src: url("http://assets.celinemarcelo.com/projectbookworm/BebasNeue.otf");
}

@font-face {
    font-family: Mobile;
    src: url("http://assets.celinemarcelo.com/projectbookworm/MobileSans.ttf");
}

@font-face {
    font-family: RobotoThin;
    src: url("http://assets.celinemarcelo.com/projectbookworm/Roboto-Thin.ttf");
}

@font-face {
    font-family: RobotoBlack;
    src: url("http://assets.celinemarcelo.com/projectbookworm/Roboto-Black.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: url("http://assets.celinemarcelo.com/projectbookworm/Roboto-Regular.ttf");
}

a:hover {
  text-decoration: none;
}

table > a {
  color: red;
}

.Bebas {
  font-family: Bebas;
}

.Mobile {
  font-family: Mobile;
}

.RobotoThin {
  font-family: RobotoThin;
}

.RobotoRegular {
  font-family: RobotoRegular;
}

.RobotoBlack {
  font-family: RobotoBlack;
}

.logo {  
  -webkit-transition: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}

.logo:hover {
  opacity:.7;
}

.navbar-default .navbar-nav > li > a:focus {
  color:#da4b4b;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}